.row{
    background: rgb(12, 0, 0);
}

footer{
    color:blanchedalmond;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #0000;
    font-weight: bold;
}