<div class="row fuente-roboto">
    <h1>Proyectos</h1>
    <div class="col-lg.-2">
        <button type="button" class="btn btn-dark agregar" routerLink="/nuevoproyecto" *ngIf="isLogged">
            Agregar proyecto
        </button>
    </div>
    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Project of projects">
                    <td>
                        <h2>{{Project.nombre}}</h2>
                    </td>
                    <td>{{Project.descripcion}}</td>                    
                    <td *ngIf="isLogged">
                        <button class="btn btn-success editar" routerLink="/editproject/{{Project.id}}">
                            <i class="bi bi-pencil"></i> EDITAR
                        </button>
                    </td>

                    <td *ngIf="isLogged">
                        <button class="btn btn-danger borrar" (click)="borrar(Project.id)">
                            <i class="bi bi-file-earmark-x"></i> BORRAR
                        </button>
                    </td>

                    <div class="row">
                        <img src={{Project.img}} class="img-fluid" alt="mi_proyecto">
                    </div>

                </tr>
            </tbody>

            

        </table>
    </div>
</div>