.row{
    padding: 50px;
    background-color: #39393f ;
}

h1, h2, p, td{
    color: blanchedalmond;
}

#proyectos{
    font-weight: bold;
}

.agregar{
    color: blanchedalmond;
}

@media(min-width: 576px){
    .mi_foto{
        position: absolute;
        width: 17%;
        border-radius: 80%;
        box-shadow: 5px 5px 5px black;
        left: 1%;
        top: 620px;
    }
}

@media(max-width: 575px){
    .mi_foto{
        position: absolute;
        width: 30%;
        border-radius: 80%;
        box-shadow: 5px 5px 5px black;
        left: 1%;
        top: 150px;
    }
}