<div class="container centrado" *ngIf="experiencia">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreE">Nombre de la empresa</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="experiencia.nombre" required>
                </div>
                <div class="form-group">
                    <label for="descripcionE">Descripcion de las tareas</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="experiencia.descripcion" required>
                </div>
                <button class="btn btn-primary">
                    Actualizar
                </button>
            </form>
        </div>
    </div>
</div>