<div class="row fuente-roboto">
    <button type="button" class="btn btn-primary" routerLink="/editaboutme/1" *ngIf="isLogged">
        Editar
    </button>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src={{persona.img}} class="img-fluid mi_foto" alt="mi_foto">
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 mi_nombre">
        <h1 id="nombre">{{persona.nombre}} {{persona.apellido}}</h1>
        <h4>Full Stack Developer Jr.</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 caja_sobre_mi" >
        <span> 
            <h1 id="sobre-mi">Sobre mí</h1>
            <p>{{persona.descripcion}}</p>
        </span>
    </div>
</div>